name: Sync with upstream

on:
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Git
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/google/s2-geometry-library-java.git
          git fetch upstream
          git merge upstream/master --allow-unrelated-histories -m "Sync from upstream"
          git push origin master

